{% extends 'layouts/default.html.twig' %}

{% block main %}

    <h3>{{ idea.title }}</h3>
    <p>By {{ idea.author }} ({{ idea.dateCreated|date("Y-m-d H:i") }})</p>
    <p>Category: {{ idea.category.name }}</p>
    <p style="margin-bottom: 0.2rem;">Description: </p>
    <p>{{ idea.description|nl2br }}</p>

{% endblock %}

{% block title %}{{ idea.title }} | {{ parent() }}{% endblock %}