{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Latest ideas</h1>
    <table class="u-full-width">
        <tbody>
            {% for idea in ideas %}
                <tr>
                    <td>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>
                                <a href="{{ path('idea_detail', {'id': idea.id}) }}" title="More details on {{ idea.title }}">
                                    {{ idea.title }}
                                </a>
                            </span>
                            <span>
                                {{ idea.category.name }}
                            </span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block title %}Latest ideas | {{ parent() }}{% endblock %}