<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bucket-List{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <header>
                <a class="site-title" href="{{ path('home') }}" title="Bucket-List | Home">
                    <img src="{{ asset('img/logo.png') }}" alt="Bucket-List"> Bucket-List
                </a>
                <nav>
                    <ul>
                        <li><a href="{{ path("home") }}" title="Bucket-List | Home">Home</a></li>
                        <li><a href="{{ path("idea_list") }}" title="Latest ideas">Latest ideas</a></li>
                        <li><a href="{{ path("idea_new") }}" title="Latest ideas">New idea</a></li>
                        <li><a href="{{ path("about_us") }}" title="Latest ideas">About us</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block main %}{% endblock %}
        </main>

        <footer>
            © {{ "now"|date("Y") }} Bucket-List
        </footer>
    </div>
</body>
</html>